nextcloud.storage-r710.home:80 {
    reverse_proxy 192.168.1.102:8080 
}
code.storage-r710.home:80 {
    reverse_proxy 192.168.1.102:9002
}
jellyfin.storage-r710.home:80 {
    reverse_proxy 192.168.1.102:9001
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
